$primaryTextColor: hsl(300, 43%, 22%);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  padding: 10%;
}
main {
  display: grid;
  grid-template-areas:
    "banner reviews"
    "comments comments";
}
.banner {
  grid-area: banner;
  h1 {
    font-size: 2.5rem;
    color: $primaryTextColor;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.048);
  }
  p {
    margin: 10px 0;
    color: grey;
    font-size: 15px;
    line-height: 25px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.048);
  }
}
.reviews {
  grid-area: reviews;
  .review {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.048);
    font-size: 15px;
    border-radius: 10px;
    padding: 4%;
    background-color: hsl(300, 24%, 96%);
    display: flex;
    margin: 3%;
    justify-content: space-around;
    align-items: center;
    h4 {
      color: $primaryTextColor;
    }
  }
  .review-1 {
    transform: translateX(-40px);
  }
  .review-3 {
    transform: translateX(40px);
  }
}
.comments {
  grid-area: comments;
}
