$primaryTextColor: hsl(300, 43%, 22%);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  padding: 10%;
  padding-bottom: 0;
  flex-direction: column;
  overflow-x: hidden;
  background-image: url("/images/bg-pattern-top-desktop.svg"),
    url("/images/bg-pattern-bottom-desktop.svg");
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}
main {
  display: grid;
  grid-template-areas:
    "banner reviews"
    "comments comments";
  width: 100%;
}
.banner {
  grid-area: banner;
  h1 {
    font-size: 2.5rem;
    color: $primaryTextColor;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.048);
  }
  p {
    margin: 10px 0;
    color: grey;
    font-size: 15px;
    line-height: 25px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.048);
  }
}
.reviews {
  grid-area: reviews;
  .review {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.048);
    font-size: 15px;
    border-radius: 10px;
    padding: 4%;
    background-color: hsl(300, 24%, 96%);
    display: flex;
    margin: 3%;
    justify-content: space-around;
    align-items: center;
    h4 {
      color: $primaryTextColor;
    }
    transition: all 0.3s ease;
    &:hover {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.178);
    }
  }
  .review-1 {
    transform: translateX(-50px);
  }
  .review-3 {
    transform: translateX(50px);
  }
}
.comments {
  grid-area: comments;
  position: relative;
  width: 100%;
  padding: 5% 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  .person {
    display: flex;
    font-size: 12px;
    align-items: center;
    padding-bottom: 30px;
    .pfp {
      border-radius: 50%;
      width: 40px;
      margin-right: 20px;
    }
    .buyer-status {
      color: hsl(333, 80%, 67%);
      font-weight: lighter;
    }
  }
  .comment {
    color: white;
    background-color: hsl(300, 43%, 22%);
    padding: 30px;
    width: 340px;
    height: 240px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.048);
    .quote {
      font-size: 13px;
      color: whitesmoke;
      line-height: 20px;
    }
    transition: all 0.3s ease;
    &:hover {
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.377);
    }
  }
  .comment2 {
    transform: translateY(20px);
  }
  .comment3 {
    transform: translateY(40px);
  }
}
.attribution {
  width: 100%;
  text-align: center;
  padding: 10px;
  a {
    text-decoration: none;
    cursor: pointer;
    color: hsl(300, 43%, 22%);
    transition: all 0.3s ease;
    &:hover {
      color: hsl(333, 80%, 67%);
    }
  }
}
