* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding: 10%;
  padding-bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  background-image: url("/images/bg-pattern-top-desktop.svg"), url("/images/bg-pattern-bottom-desktop.svg");
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}

main {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "banner reviews" "comments comments";
  width: 100%;
}

.banner {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: banner;
}

.banner h1 {
  font-size: 2.5rem;
  color: #502050;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.048);
}

.banner p {
  margin: 10px 0;
  color: grey;
  font-size: 15px;
  line-height: 25px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.048);
}

.reviews {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: reviews;
}

.reviews .review {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.048);
  font-size: 15px;
  border-radius: 10px;
  padding: 4%;
  background-color: #f7f2f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.reviews .review h4 {
  color: #502050;
}

.reviews .review:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.178);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.178);
}

.reviews .review-1 {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.reviews .review-3 {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.comments {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: comments;
  position: relative;
  width: 100%;
  padding: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5%;
}

.comments .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.comments .person .pfp {
  border-radius: 50%;
  width: 40px;
  margin-right: 20px;
}

.comments .person .buyer-status {
  color: #ee68a4;
  font-weight: lighter;
}

.comments .comment {
  color: white;
  background-color: #502050;
  padding: 30px;
  width: 340px;
  height: 240px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.048);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.048);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.comments .comment .quote {
  font-size: 13px;
  color: whitesmoke;
  line-height: 20px;
}

.comments .comment:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.377);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.377);
}

.comments .comment2 {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.comments .comment3 {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.attribution {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.attribution a {
  text-decoration: none;
  cursor: pointer;
  color: #502050;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.attribution a:hover {
  color: #ee68a4;
}
/*# sourceMappingURL=style.css.map */